<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book45.mapper.QnaMapper">

<sql id="criteria">
	<trim prefix="(" suffix=") AND " prefixOverrides="OR">
		<foreach item="type" collection="typeArr">
			<trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%' || #{keyword} || '%'
					</when>
					<when test="type == 'I'.toString()">
						id like '%' || #{keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>	
</sql>

<select id="getList" resultType="com.book45.domain.QnaVO">
	select * from qna where qnum > 0 desc
</select>

<select id="insert">
	insert into qna(qnum, title, content, id, secret) values(qna_seq.nextval, #{title}, #{content}, #{id}, #{secret})
</select>
	
<insert id="insertSelectKey">
	<selectKey keyProperty="qnum" order="BEFORE" resultType="int">
		select qna_seq.nextval from dual
	</selectKey>
	
	insert into qna(qnum, id, title, content, secret) values(#{qnum}, #{id}, #{title}, #{content}, #{secret})
</insert>

<select id="read" resultType="com.book45.domain.QnaVO">
	select * from qna where qnum = #{qnum} 
</select>

<delete id="delete">
	delete from qna where qnum = #{qnum}
</delete>

<update id="update">
	update qna set title = #{title}, content = #{content}, updatedate = sysdate, secret= #{secret} where qnum = #{qnum}
</update>

<select id="getListWithPaging" resultType="com.book45.domain.QnaVO">
   <![CDATA[
      select qnum, id, title, content, writedate, updatedate, secret, replycnt from 
      (select /*+ INDEX(qna idx_qna) */ rownum rn, qnum, id, title, content, writedate, updatedate, secret, replycnt
      from qna where
   ]]>
   
 <include refid="criteria"></include>

   <![CDATA[
      rownum <= #{pageNum} * #{amount}) 
      where rn > (#{pageNum} - 1) * #{amount}
   ]]>
</select>

<select id="getTotalCount" resultType="int">
	select count(*) from qna where 
<include refid="criteria"></include>
	qnum > 0
</select>


<update id="updateReplyCnt">
   update qna set replyCnt = replyCnt + #{amount} where qnum = #{qnum}
</update>

<!-- 답변 달때 Qna title 추가!!! -->
<select id="getQnaTitle" resultType="com.book45.domain.QnaVO">
		select qnum, title from qna where qnum = #{qnum}
</select>
</mapper>