/* wrap */
#wrap h2 {
	margin: 100px auto 80px auto;
}

#wrap table {
	width: 1000px;
}

#wrap table, th, td {
	border-collapse: collapse;
}

#wrap table tr {
	height: 60px;
}

#wrap table tr th, td {
	border-bottom: 1px solid #dddddd;
}
table tr:first-child {
	border-top: 2px solid #8c8ce8;
}
table tr:last-child {
	border-bottom: 2px solid #8c8ce8;
}

#wrap table th {
	width: 150px;
	background-color: #8c8ce8;
	color: white;
	font-size: 14px;
}

#wrap table td {
	padding-left: 10px;
}

#wrap table tr input {
	width: 500px;
	height: 30px;
	padding-left: 10px;
}

#wrap table tr input:focus {
	outline: none;
	border: 2px solid #8c8ce8;
}

#wrap table tr td span {
	margin-top: 5px;
}

#upload {
	width: 150px;
	height: 30px;
	background-color: white;
	border: 1px solid #999999;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

#upload:hover {
	background-color: #f4f4f4;
	border: 2px solid #f4f4f4;
}

#file {
	display: none;
}

#category {
	height: 30px;
	width: 200px;
	font-size: 14px;
}

#button {
	background-color: white;
	border: 1px solid #999999;
	padding: 10px 15px;
	margin-left: 5px;
	margin-bottom: 100px;
	cursor: pointer;
}

#button:hover {
	background-color: #8c8ce8;
	color: white;
}

.finalProductNumCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalCategoryCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalTitleCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalSingerCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalEntCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalPriceCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalReleaseDateCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}
.finalStockCheck {
	display: none;
	font-size: 13px;
	padding-left: 5px;
	color: #7c7c7c;
}

.Btn {
	border: 1px solid #999999;
	cursor: pointer;
	background-color: white;
	padding: 10px 15px;
	margin-top: 50px;
	margin-left: 5px;
	margin-bottom: 100px;
}

.Btn:hover {
	background-color: #8c8ce8;
    color: white;
}