#bookdetail {
   width: 1150px;
   margin: 0 auto;
}
#bookdetail #book1 {
   width: 100%;
   text-align: center;
   height: 130px;
}
#bookdetail #book1 h2 {
   color: black;
   margin-top: 100px;
   margin-bottom: -50px;
}
#bookdetail #book2 {
   width: 100%;
   height: 500px;
   padding-top: 100px;
   border-top: 1px solid #8c8ce8;
   border-bottom: 1px solid #8c8ce8;
   margin-top: -20px;
   margin-bottom: 30px;
}
#bookdetail #book2 img {
   width: 27%;
   height: 400px;
   float: left;
   margin-left: 100px;
   box-shadow: 3px 3px 3px 3px #c9c9c9;
}

#bookdetail #book2 #book2text {
   text-align: left;
   float: right;
   width: 50%;
   height: 500px;
   margin-top: -50px;
   padding: 10px;
   line-height: 28px;
}

#listBtn, #regBtn, #modBtn {
   border: 1px solid #999999;
   cursor: pointer;
   background-color: white;
   padding: 10px 15px;
   margin-top: 30px;
   margin-left: 5px;
   margin-bottom: 50px;
}
#listBtn:HOVER, #regBtn:HOVER, #modBtn:HOVER {
   background-color: #8c8ce8;
   color: white;
}

#cart, #buyBtn {	
	padding: 10px 15px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #999999;
	background-color: white;
	
}

#cart:HOVER, #buyBtn:HOVER {
	background-color: #8c8ce8;
    color: white;
}

#amountBox {
	width: 25px;
	height: 20px;
	text-align: center;
	border: 1px solid #999999;
	border-radius: 0px;
}

.plusBtn, .minusBtn {
	width: 15px;
	height: 21px;
	border: 1px solid #999999;
    cursor: pointer;
    background-color: #8c8ce8;
    color: white;
}

.plusBtn:HOVER, .minusBtn:HOVER {
	color: #8c8ce8;
	background-color: white;
}

.cart_order {
	width: 170px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* 리뷰쓰기 버튼 */
.reply_button_wrap {
	padding: 10px;
	float: right;
}

.reply_button_wrap button {
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 12px;
	cursor: pointer;
	border: 1px solid #999;
	outline: none;
}

.reply_button_wrap button:hover {
	background-color: #8c8ce8;
	color: white;
}

/* 리뷰 영역 */
.content_bottom {
	width: 1150px;
	margin: 10px auto 100px auto;
	border: 1px solid #999;
}

.panel-heading {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
}

.reply_content_ul {
	list-style: none;
	clear: both;
}

.comment_wrap {
	position: relative;
	border-bottom: 1px dotted #d4d4d4;
	padding: 14px 0 10px 0;
	font-size: 14px;
}
/* 리뷰 머리 부분 */
.reply_top {
	padding-bottom: 10px;
	margin-left: 10px;
}

#textspan {
	float: left;
}

.id_span {
	padding: 0 5px 0 3px;
	font-weight: bold;
}

.date_span {
	padding: 0 5px 0;
}
/* 리뷰 컨텐트 부분 */
.reply_bottom {
	padding-bottom: 10px;
	margin-left: 10px;
	clear: both;
}

/* 리뷰 선 */
.reply_line {
	width: 80%;
	margin: auto;
	border-top: 1px solid #c6c6cf;
}

.reply_subject {
	padding: 10px;
	float: left;
	margin-top: 5px;
}

/* 리뷰 제목 */
.reply_subject h2 {
	padding: 15px 0 5px 5px;
}

/* pageMaker */
.repy_pageInfo_div {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.pageMaker {
	list-style: none;
	display: inline-block;
}

.pageMaker_btn {
	float: left;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-left: 20px;
	font-size: 13px;
	cursor: pointer;
	border: 1px solid #999999;
}

.pageMaker_btn:hover {
	background-color: #d7d7f7;
}

.active {
	background-color: #8c8ce8;
	font-weight: 400;
}

.active a {
	color: white;
}

.next, .prev {
	border: 1px solid #ccc;
	padding: 0 10px;
	width: 40px;
}

/* 리뷰 없는 경우 div */
.reply_not_div {
	text-align: center;
}

.reply_not_div span {
	display: block;
	margin-top: 30px;
	margin-bottom: 20px;
}

#updelBtn {
	float: right;
	margin-right: 15px;
}

/* 리뷰 수정 삭제 버튼 */
.update_reply_btn {
	font-weight: bold;
	background-color: #b7b399;
	display: inline-block;
	width: 40px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin: 0 5px 0 30px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}

.delete_reply_btn {
	font-weight: bold;
	background-color: #e7578f;
	display: inline-block;
	width: 40px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	border-radius: 6px;
	color: white;
	cursor: pointer;
}