/* container */
#container {
	margin: 50px auto;
	/* min-height: 100%; */
	position: relative;
/* 	padding-bottom: 100px; */
	width: 1150px;
}

#container h1 {
	text-align: center;
	margin: 100px auto 80px auto;
}

#container table {
	width: 100%;
	align: center;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 70px;
}

#container table tr {
	line-height: 30px;
	border-bottom: 1px solid #eeeeee;
}

#container table tr:first-child {
	
}

#container table tr:last-child {
	border-bottom: 2px solid #eeeeee;
}

#container table th {
	background-color: #8c8ce8;
	color: white;
	font-weight: normal;
	text-align: center;
}

#container table tr td {
	font-size: 15px;
}

#container table tr td a {
	color: black;
}

#container table tr td a:hover {
	color: #8c8ce8;
	text-decoration: underline;
}

.deleteBtn {
	padding: 5px 8px;
	border: 1px solid #999999;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
}


.deleteBtn:hover {
	background-color: #8c8ce8;
	color: white;
}

#listFooter {
	width: 100%;
	margin: 0 auto;
	height: 100px;
	margin-top: 15px;
}

.row {
	margin: 0 auto;
}

.row #searchForm {
	width: 100%;
	text-align: center;
	clear: both;
}

.row #hoption {
	width: 120px;
	height: 38px;
}

.row #hsearch {
   	width: 300px;
	height: 35px;
	padding-left: 10px;
	outline: none;
}

.row #hoption:focus {
   outline: none;   
}

.row #hsearch:focus {
   outline: none;   
}

.row #searchBtn {
	width: 100px;
	height: 38px;
	outline: none;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid #999;
}

.row #searchBtn:hover {
	background-color: #8c8ce8;
	color: white;
}

#listFooter {
	width: 100%;
	margin: 0 auto;
	height: 100px;
	margin-top: 20px;
}

#pageNumber {
	width: 100%;
	height: 25px;
	margin-bottom: 20px;
	text-align: center;
}

#pageNumber ul {
	text-align: center;
}

#pageNumber ul li {
	display: inline-block;
}

#pageNumber ul #pageNum2 {
	width: 25px;
	height: 100%;
}

#pageNumber ul li:hover {
	background-color: #d7d7f7;
}

#pageNumber ul li a {
	color: black;
}

#pageNumber ul li.active a {
	color: white;
}

#pageNumber ul .paginate_button {
	width: 35px;
	height: 100%;
	border: 1px solid #999999;
	padding: 5px 5px;
}

.active {
   background-color: #8c8ce8;
}